*,
*::after,
*::before {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  background-color: var(--color-background);
  font-family: "ibm plex sans", sans-serif;
  color: var(--color-black);
  font-size: 14px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1000px;
  padding: 0 12px;
  margin: 0 auto;
  width: 100%;
}

.page {
  padding-top: 24px;
  padding-bottom: 32px;
}
